chainner_ext==0.3.10
numpy<2
opencv-python==4.11.0.86
psutil==6.0.0
pynvml==11.5.3
pyvips==3.0.0
pyvips-binary==8.16.1
rarfile==4.2
sanic==24.6.0
spandrel_extra_arches==0.2.0
spandrel==0.4.1
torch==2.2.1+rocm5.7.2 --extra-index-url https://download.pytorch.org/whl/rocm5.7.2
torchvision==0.17.1+rocm5.7.2 --extra-index-url https://download.pytorch.org/whl/rocm5.7.2
